
<div class="sidebar-nav">
    <ul class="nav nav-list">
    	<br/>
    	<br/>
    	<br/>
        <li class="nav-header">Shopping Buckets Inputs</li>
        <li ng-class="{true: 'active'}[menuActive('/shoppingcartviewer1')]">
        	<a href="#/shoppingcartviewer1">Bucket #1</a>
    	</li>
    	<li ng-class="{true: 'active'}[menuActive('/shoppingcartviewer2')]">
        	<a href="#/shoppingcartviewer2">Bucket #2</a>
    	</li>
    	<li ng-class="{true: 'active'}[menuActive('/shoppingcartviewer3')]">
        	<a href="#/shoppingcartviewer3">Bucket #3</a>
    	</li>
    </ul>
</div><!--/.well -->
